apiVersion: v2
# image: "matrixdotorg/synapse"
appVersion: v1.110.0
description: The reference implementation for a Matrix.org chat server
name: synapse
version: 0.39.0
type: application
keywords:
  - synapse
  - chat
  - matrix
  - riot
home: https://github.com/matrix-org/synapse
sources:
  - https://github.com/matrix-org/synapse
  - https://hub.docker.com/r/matrixdotorg/synapse
  - https://matrix.org/blog/home/
dependencies:
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: ~12.3.0
    condition: postgresql.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: ~17.10.0
    condition: redis.enabled
maintainers:
  - name: Gavin Mogan
    email: helm@gavinmogan.com
annotations:
  artifacthub.io/changes: |2
     - "deprecate foundry-vtt ([9931d53](https://github.com/halkeye/helm-charts/commit/9931d53fa64b98610cb613f29db44b73f80167cc))"
     - "fix master/main port in instancemap ([83c3f26](https://github.com/halkeye/helm-charts/commit/83c3f265ea8ebb170ec5eeb8b131fb0f1b7f0041))"
     - "remove foundry-vtt ([f078649](https://github.com/halkeye/helm-charts/commit/f078649df6996657d9af8fb3c49a05f83558a4db))"
     - "**deps:** update felddy/foundryvtt docker tag to v12 ([#67](https://github.com/halkeye/helm-charts/issues/67)) ([8b80153](https://github.com/halkeye/helm-charts/commit/8b801530ad595f6fdc56bf02a36d6355c2931a5f))"
     - "**deps:** update vectorim/element-web docker tag to v1.11.70 ([#76](https://github.com/halkeye/helm-charts/issues/76)) ([32bc923](https://github.com/halkeye/helm-charts/commit/32bc923862dd760b015d1f12fab34c6eff0bddb3))"
  artifacthub.io/images: |
    - name: synapse
      image: "matrixdotorg/synapse:v1.110.0"
